@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #080808;
  --font-color: #A2B5B5;
  color: white;
}

.grainy {
  background-image: url(/grain-slow.gif);
  height: 100%;
  width: 100%;
  opacity: 4%;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}